.sidebar {
  margin-top: 45px;
  max-width: 255px;
  padding: 0;
  width: 0%;
  background: #FFFFFF;
  grid-area: aside;
  overflow: hidden;
  transition: .3s;
}

.show {
  width: 100%;
  padding-left: 30px;
}

.links-main {
  gap: 25px;
}

.setting {
  display: flex;
  width: fit-content;
}

.title {
  margin-bottom: 30px;
}

.subscribers-list {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.subscriber {
  display: flex;
  align-items: center;
  gap: 10px;
}

.subscriber span {
  transition: color .3s;
}

.subscriber:hover span {
  color: #000000;
}

.setting-link {
  margin-top: 105px;
  display: flex;
  width: fit-content;
}

.setting-link span,
.setting-link path {
  transition: fill .3s,
    opacity .3s,
    color .3s;
}

.setting-link-icon {
  display: inline-block;
  width: 31px;
}

@media (hover: hover) {
  .setting-link:hover span {
    color: #FF0000;
  }

  .setting-link:hover path {
    opacity: 1;
    fill: #FF0000;
  }
}
}