.header {
  margin-top: 20px;
  margin-right: 1px;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-area: header;
  gap: 25px;
}

.header__left {
  width: 100%;
  max-width: 1055px;
  display: flex;
  justify-content: center;
}

.header__menu {
  margin-right: 28px;
}

.header__logo {
  margin: 10px 0;
  margin-right: 60px;
}

.header__logo-mobile {
  display: none;
}

.header__logo-desc {
  display: block;
}

.header__author {
  display: none;
  margin-top: 5px;
  margin-left: 10px;
  font-weight: 700;
  color: #19202C;
  white-space: nowrap;
}

.header__search {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px 23px;
  padding-right: 12px;
  max-width: 830px;
  width: 100%;
  background: rgba(235, 235, 235, .3);
  border-radius: 22px;
}

.header__search-input {
  display: block;
  width: 100%;
}

.header__search-icon {
  width: 19px;
  height: 19px;
}

.header__right {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.header__icons {
  display: flex;
  gap: 33px;
}

.header__notifications {
  position: relative;
}

.header__notification-count {
  position: absolute;
  top: 3px;
  right: 5px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 700;
  color: white;
  border: 1px solid #FFFFFF;
  border-radius: 100%;
  background: #FF0000;
}

.header__show-more {
  display: none;
  margin-left: 15px;
  padding: 5px;
}

@media (max-width: 768px) {
  .header {
    margin-top: 10px;
    height: auto;
  }

  .header__menu {
    display: none;
  }

  .header__logo {
    margin: 0;
  }

  .header__logo-desc {
    display: none;
  }

  .header__logo-mobile {
    display: block;
  }

  .header__author {
    display: block;
  }

  .header__search {
    margin-left: auto;
    padding: 0;
    justify-content: end;
    background: unset;
  }

  .header__search-input {
    display: none;
  }

  .header__search-icon {
    position: static;
  }

  .header__icons {
    padding: 5px;
    position: absolute;
    right: 0;
    bottom: -60px;
    background: #FFFFFF;
    border-radius: 30px;
    box-shadow: 1px 1px 10px #000000;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s;
  }

  .header__icons.icons--show {
    opacity: 1;
    visibility: visible;
  }

  .header__avatar img {
    width: 30px;
    height: 30px;
  }

  .avatar--desc {
    display: none;
  }

  .header__show-more {
    display: block;
  }
}