.hero{
  grid-area: hero;
}

.hero__img {
  width: 100%;
  max-height: 280px;
  object-fit: cover;
  border-radius: 14px;
}

.hero__author {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.hero__author-avatar {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.hero__autohr-info {
  margin-left: 15px;
}

.hero__autohr-name {
  font-size: 1.625rem;
  font-weight: 700;
  color: #19202C;
}

.hero__autohr-subscibers {
  font-size: 0.81rem;
}

.hero__notification{
  width: 40px;
  height: 40px;
  margin-left: auto;
}

.hero__subscribe{
  margin-left: 10px;
  height: fit-content;
}