.navbar {
  margin-top: 15px;
  grid-area: navbar;
}

.navbar__list {
  position: relative;
  max-width: 834px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__list::after {
  content: '';
  position: absolute;
  bottom: -180px;
  right: 0;
  width: 100px;
  height: 170px;
  background: var(--white);
  border-radius: 30px;
  box-shadow: 1px 1px 10px var(--black);
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  z-index: 10;
}

.navbar__item {
  position: relative;
  padding: 5px;
}

.navbar__item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: var(--black);
  border-radius: 3px;
  transition: width .3s;
}

.navbar__item--active::after {
  width: 100%;
  background: var(--red);
}

.navbar__link {
  color: var(--black);
  font-size: 1.125rem;
}

.navbar__item--active .navbar__link {
  color: var(--red);
  font-weight: 700;
}

.navbar__show-more {
  display: none;
  transition: transform .3s;
}

.navbar__show-more--active {
  transform: rotate(180deg);
}

@media(hover: hover) {
  .navbar__item:hover::after {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .navbar {
    margin-top: 30px;
  }

  .navbar__list {
    justify-content: start;
    gap: 35px;
  }

  .navbar__list--show::after {
    opacity: 1;
    visibility: visible;
  }

  .navbar__item {
    padding: 3px;
  }

  .navbar__item:nth-child(n+4):nth-child(-n+7) {
    position: absolute;
    right: 50px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    transform: translateX(50%);
    z-index: 100;

  }

  .navbar__list--show .navbar__item:nth-child(n+4):nth-child(-n+7) {
    opacity: 1;
    visibility: visible;
  }

  .navbar__item:nth-child(4) {
    bottom: -50px;
  }

  .navbar__item:nth-child(5) {
    bottom: -90px;
  }

  .navbar__item:nth-child(6) {
    bottom: -130px;
  }

  .navbar__item:nth-child(7) {
    bottom: -170px;
  }

  .navbar__show-more {
    display: block;
  }

  .navbar__link {
    font-size: 0.875rem;
  }

}