@import url("../base/fonts.css");
@import url("../base/normalize.css");
@import url("../components/slider.css");
@import url("../components/card.css");
@import url("../components/controls.css");
@import url("../components/button.css");
@import url("../layout/header.css");
@import url("../layout/hero.css");
@import url("../layout/aside.css");
@import url("../layout/navbar.css");
@import url("../layout/recomended-channel.css");

main {
  width: 1px;
  margin-top: 25px;
  margin-left: 35px;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 270px;
  grid-template-rows: 390px 50px auto 270px;
  grid-template-areas:
    "hero hero"
    "navbar recomended"
    "last-video recomended"
    "videos videos";
  column-gap: 10px;
  overflow: hidden;
}

.last-video {
  margin-top: 50px;
  grid-area: last-video;
}

.videos {
  margin-top: 60px;
  grid-area: videos;
  width: 100%;
}

.videos__top {
  margin-left: 5px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

@media (max-width: 1200px) {
  main {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  main {
    margin: 0;
    margin-top: 15px;
    gap: 0;
    overflow: unset;
  }

  .last-video {
    display: none;
  }

  .videos {
    margin-top: 15px;
  }

  .slider {
    margin-top: 0;
  }

  .videos__top {
    display: none;
  }
}