.button {
  cursor: pointer;
  padding: 10px 20px;
  white-space: nowrap;
  transition: background .3s, color .3s;
}

.primary {
  margin-left: auto;
  background: #FF0000;
  border-radius: 20px;
  color: #FFFFFF;
}

.ghost {
  border-radius: 20px;
  color: #192646;
  background: #ebebeb4d;
}

.active {
  background: #00000033;
}

.icon {
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 100%;
}

@media(hover: hover) {
  .primary:hover {
    background: #e20000;
  }

  .ghost:hover {
    background: rgba(0, 0, 0, 0.2);
  }

  .icon:hover {
    background: #EBEBEB;
  }
}

@media (max-width: 576px) {
  .primary {
    padding: 0;
    color: #FF0000;
    background: #FFFFFF;
  }
}