@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Mulish-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/Mulish-Bold.ttf") format("ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  color: #898989;
}

#root {
  margin: auto;
  max-width: 1920px;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  color: inherit;
  background: none;
  border: none;
}

input[type=text] {
  font-size: 1rem;
  border: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

li {
  list-style: none;
}

h1{
  color: #000000;
  font-size: 2.25rem;
}

h2 {
  color: #000000;
  font-size: 1.625rem;
}

h3 {
  font-weight: 700;
  font-size: 1.125rem;
  color: #000000;
}