.icons {
  display: flex;
  gap: 33px;
}

.notifications {
  position: relative;
}

.notifications-count {
  position: absolute;
  top: 3px;
  right: 5px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 700;
  color: white;
  border: 1px solid #FFFFFF;
  border-radius: 100%;
  background: #FF0000;
}

@media (max-width: 768px) {
  .icons {
    padding: 5px;
    position: absolute;
    right: 0;
    bottom: -60px;
    background: #FFFFFF;
    border-radius: 30px;
    box-shadow: 1px 1px 10px #000000;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
  }

  .icons.show {
    opacity: 1;
    visibility: visible;
  }
}